<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop class="ColissimoPickupPoint\Loop\CheckRightsLoop" name="colissimo.pickup.point.check.rights" />
        <loop class="ColissimoPickupPoint\Loop\ColissimoPickupPointPriceSlices" name="colissimo.pickup.point" />
        <loop class="ColissimoPickupPoint\Loop\ColissimoPickupPointId" name="colissimo.pickup.point.id" />
        <loop class="ColissimoPickupPoint\Loop\GetRelais" name="colissimo.pickup.point.around" />
        <loop class="ColissimoPickupPoint\Loop\ColissimoPickupPointAddress" name="address.colissimo.pickup.point" />
        <loop class="ColissimoPickupPoint\Loop\NotSentOrders" name="order.notsent.colissimo.pickup.point" />
        <loop class="ColissimoPickupPoint\Loop\ColissimoPickupPointOrderAddressLoop" name="colissimo.pickup.point.order_address" />
        <loop class="ColissimoPickupPoint\Loop\AreaFreeshipping" name="colissimo.pickup.point.area.freeshipping" />
        <loop class="ColissimoPickupPoint\Loop\ColissimoPickupPointFreeshippingLoop" name="colissimo.pickup.point.freeshipping" />
    </loops>

    <forms>
        <form name="colissimopickuppoint_freeshipping_form" class="ColissimoPickupPoint\Form\FreeShippingForm" />
        <form name="colissimopickuppoint_configure_form" class="ColissimoPickupPoint\Form\ConfigureColissimoPickupPoint" />
        <form name="colissimopickuppoint_export_order_form" class="ColissimoPickupPoint\Form\ExportOrder" />
        <form name="colissimopickuppoint_import_form" class="ColissimoPickupPoint\Form\ImportForm"/>
        <form name="colissimopickuppoint_price_slices_create_form" class="ColissimoPickupPoint\Form\AddPriceForm" />
        <form name="colissimopickuppoint_update_price_form" class="ColissimoPickupPoint\Form\UpdatePriceForm" />
    </forms>

    <hooks>
        <hook id="colissimo.pickup.point.hook.back" class="ColissimoPickupPoint\Hook\BackHook">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
            <tag name="hook.event_listener" event="module.config-js" type="back" method="onModuleConfigJs" />
            <tag name="hook.event_listener" event="order.tab-content" type="back" method="renderColishipExport" />
        </hook>
        <hook id="colissimo.pickup.point.hook.front" class="ColissimoPickupPoint\Hook\FrontHook" scope="request">
            <tag name="hook.event_listener" event="order-delivery.extra" />
            <tag name="hook.event_listener" event="order-invoice.delivery-address" />
            <tag name="hook.event_listener" event="main.head-bottom" />
        </hook>
        <hook id="colissimo.pickup.point.hook.pdf" class="ColissimoPickupPoint\Hook\PdfHook" scope="request">
            <tag name="hook.event_listener" event="invoice.after-delivery-module" type="pdf" method="onInvoiceAfterDeliveryModule" />
        </hook>
    </hooks>

</config>
